# Node.js & React specific
/node_modules
/.pnp
.pnp.js

# Backend dependencies (if using npm)
/backend/node_modules
/backend/.env
/backend/.vercel

# Frontend dependencies (if using npm)
/frontend/node_modules
/frontend/.env

# Build artifacts
/backend/dist
/frontend/build
/frontend/.next  # For Next.js projects

# Logs and debugging
logs
*.log
npm-debug.log*

# macOS files to ignore
.DS_Store

# Editor-specific files (e.g., Visual Studio Code)
.vscode/
*.code-workspace
